.common-tab{
  height: 100%;
  .el-tabs__item{
    padding: 0 13px!important;
    &:hover{
      color: #65d38c!important;
    }
  }
  .el-tabs__content{
    padding: 10px!important;
    height: calc(100% - 40px);

    .el-tab-pane{
      height: 100%;
    }
  }
}