$green-light: #65d38c; 
$green:       #006a45;
$green-dark:  #068043;

$bg:          #f8f8f8;
$border:      #dfdfdf;
$border-light:#ededed;
$gray:        #bbbbbb;

$text-light:  #999999;
$text:        #666666;
$text-dark:   #333333;

$success:     #5CCD01;
$warn:        #ffbc00;
$error:       #FF5549;

$head:        #4B595E;

$cyan:        #1be0b4;
$blue:        #0080FF;
$orange:      #FF5E0F;
$lemon:       #5CCD01;

$g_orange:   #FFBC00;
$g_blue:    #00A2ff;
$g_red:     #FF5549;
$g_green:     #17AF49;
